<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab8173">  <td>21/01/09 17:59:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_GET_loginPage.URLPage()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">&gt;&gt;URLPage</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkContentEncoding()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkContentEncoding</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkContentLength()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkContentLength</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkContentType()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkContentType</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkResponseBody()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkResponseBody</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkServerType()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkServerType</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkStatusLine()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkStatusLine</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkStatuscode()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">checkStatuscode</td> 
  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="67f089">  <td>21/01/09 17:59:56</td>   <td>-65</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@119358627</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>21/01/09 18:00:00</td>   <td>3470</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_GET_loginPage.tearDown()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@4cc451f2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@119358627</td>   <td></td> </tr>
</table>
