<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.TestCases.TC_001_GET_loginPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatuscode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentEncoding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkServerType</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>URLPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
