<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TransportalRestAPISuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_GET_loginPage.URLPage()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">&gt;&gt;URLPage</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkContentEncoding()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkContentEncoding</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkContentLength()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkContentLength</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkContentType()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkContentType</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkResponseBody()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkResponseBody</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkServerType()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkServerType</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkStatusLine()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkStatusLine</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_GET_loginPage.checkStatuscode()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">checkStatuscode</td> 
  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="f88290">  <td>21/01/09 18:39:28</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995250556</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/01/09 18:39:32</td>   <td>3966</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_GET_loginPage.tearDown()[pri:0, instance:com.TestCases.TC_001_GET_loginPage@7f552bd3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995250556</td>   <td></td> </tr>
</table>
